<div class="w-full h-screen relative p-16">
	<div class="relative z-20 flex flex-wrap h-full -mt-20 pt-32">
				
		<div class="w-full md:w-1/2 h-full">
			<%= image_tag 'caroline-hernandez.jpg', class: "w-full h-full object-cover" %> 
		</div>

			<div class="w-full md:w-1/2 p-4 flex justify-center items-center">
				<div class="max-w-xs">
					<h1 class="text-6xl mb-4 leading-none">Welcome</h1>
					
          <% content_for :devise_form do %>

          <h2 class="heading text-4xl text-center pt-4 mb-8">Sign up</h2>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

        
          <div class="mb-6">
            <%= f.text_field :first_name, placeholder: "first name", class:"input block border border-grey-light w-full p-3 rounded mb-4" %>
          </div>
          <div class="mb-6">
            <%= f.text_field :last_name, placeholder: "last name", class:"input block border border-grey-light w-full p-3 rounded mb-4" %>
          </div>
          <div class="mb-6">
            <%= f.email_field :email, autocomplete: "email", placeholder: "email", class:"input block border border-grey-light w-full p-3 rounded mb-4" %>
          </div>
          <div class="mb-6">
            <%= f.password_field :password, placeholder: "password", class: "input block border border-grey-light w-full p-3 rounded mb-4" %>
            <div class="flex">
              <% if @minimum_password_length %>
              <span class="text-xs pl-1 text-grey-dark"><em>(<%= @minimum_password_length %> characters minimum)</em></span>
              <% end %>
            </div>
          </div>
          <div class="mb-6">
            <%= f.password_field :password_confirmation, placeholder: "password confirmation", autocomplete: "new-password", class: "input block border border-grey-light w-full p-3 rounded mb-4t" %>
          </div>
          <div class="mb-6">
            <%= f.submit "Sign up", class: "w-full text-center py-3 rounded bg-yellow-500 text-black hover:bg-black hover:text-white ocus:outline-none my-1" %>
          </div>
          <hr class="border mt-6" />
        <% end %>

        <%= render "devise/shared/links" %>

      <% end %>

        <%= render "devise/shared/form_wrap" %>
	    </div>
		</div>
    </div>
      <div class="z-10 w-1/2 h-full bg-gray-900 absolute top-0 left-0 -ml-20"></div>
			<div class="z-10 w-1 h-64 bg-gray-100 absolute bottom-0 left-0 ml-5"></div>
    </div>
  </div>
			


		