<div class="bg-black h-screen w-screen">
    <div class="flex flex-col items-center flex-1 h-full justify-center px-4 sm:px-0">
        <div class="flex rounded-lg shadow-lg w-full sm:w-3/4 lg:w-1/2 bg-white sm:mx-0" style="height: 500px">
            <div class="flex flex-col w-full md:w-1/2 p-4">
                <div class="flex flex-col flex-1 justify-center mb-8">
                    <h1 class="text-4xl text-center font-thin">Welcome Back</h1>
                    <div class="w-full mt-4">
                    <% content_for :devise_form do %>
                    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "form-horizontal w-3/4 mx-auto") do |f| %>
                          <div class="flex flex-col mt-4">
                            <%= f.email_field :email, autofocus: true, placeholder: "email", class: "flex-grow h-8 px-2 border rounded border-grey-400", id: "email" %>
                          </div>
                          <div class="flex flex-col mt-4">
                            <%= f.password_field :password, placeholder: "password", autocomplete: "current-password", id: "password", class: "flex-grow h-8 px-2 rounded border border-grey-400" %>
                          </div>
                          <div class="flex items-center mt-4">
                            <% if devise_mapping.rememberable? %>
                              <%= f.check_box :remember_me, class:"mr-2" %>
                              <%= f.label :remember_me, class:"text-sm text-grey-darker" %>
                            <% end -%>
                          </div>
                          <div class="flex flex-col mt-8">
                            <%= f.submit "Log in", class: "bg-yellow-500 text-black hover:bg-black hover:text-white text-sm font-semibold py-2 px-4 rounded" %>
                          </div>
                      <% end %>

                        <div class="text-center mt-4">
                          <%= render "devise/shared/links" %>
                        <% end %>
                            <a class="no-underline hover:underline text-blue-dark text-xs" href="{{ route('password.request') }}">
                                Forgot Your Password?
                            </a>
                        </div>
                          <%= render "devise/shared/form_wrap" %>
                    </div>
                </div>
            </div>
            <div class="hidden md:block md:w-1/2 rounded-r-lg" style="background: url('https://images.unsplash.com/photo-1515965885361-f1e0095517ea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3300&q=80'); background-size: cover; background-position: center center;"></div>
        </div>
    </div>
</div>






              

